#  Import packages

In [11]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

# Get the data

In [12]:
cars_df = pd.read_csv("cars.csv")

# Take quick look at data structure

In [15]:
cars_df.head()

,City,Model_Year,Color,Mileage,Brand,Body_Condition,Price,Engine_Condition,Chassis_Condition,Third_party_insurance,Gearbox,Selling_Method,Time,Location
0,Tehran,۱۳۷۶,نقره ای,۵۳۲,نیسان، پاترول 4 در، 6 سیلندر,تمام رنگ,235000000.0,سالم,سالم و پلمپ,۶ ماه,دنده ای,نقدی,2022-03-26,آجودانیه
1,Tehran,۱۳۹۲,سفید,۱۵۰٬۰۰۰,CNG ،پیکان، وانت,خط و خش جزیی,110000000.0,NaN,NaN,NaN,NaN,NaN,2022-03-12,بلوار کشاورز
2,Tehran,۱۳۹۹,سفید,۰,SE ،131 ،پراید,سالم و بی خط و خش,NaN,NaN,سالم و پلمپ,۱۲ ماه,NaN,نقدی,2022-03-26,دولت آباد
3,Tehran,۱۳۹۶,سفید,۸۰٬۰۰۰,SE ،132 ،پراید,سالم و بی خط و خش,125500000.0,سالم,سالم و پلمپ,۶ ماه,دنده ای,نقدی,2022-03-26,پیروزی
4,Tehran,۱۳۹۳,نقره ای,۸۰٬۰۰۰,پژو، GLX ،405 بنزینی,سالم و بی خط و خش,187000000.0,سالم,سالم و پلمپ,۹ ماه,دنده ای,نقدی,2022-03-26,پیروزی

In [16]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56402 entries, 0 to 56401
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   City                   56402 non-null  object
 1   Model_Year             56402 non-null  object
 2   Color                  56399 non-null  object
 3   Mileage                56402 non-null  object
 4   Brand                  56402 non-null  object
 5   Body_Condition         54955 non-null  object
 6   Price                  43306 non-null  float64
 7   Engine_Condition       53853 non-null  object
 8   Chassis_Condition      46407 non-null  object
 9   Third_party_insurance  52407 non-null  object
 10  Gearbox                52954 non-null  object
 11  Selling_Method         52637 non-null  object
 12  Time                   56402 non-null  object
 13  Location               56402 non-null  object
dtypes: float64(1), object(13)
memory usage: 6.0+ MB