#  Import packages

In [42]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from unidecode import unidecode

# Get the data

In [43]:
cars_df = pd.read_csv("cars.csv")

# Take quick look at data structure

In [44]:
cars_df.head()

,City,Model_Year,Color,Mileage,Brand,Body_Condition,Price,Engine_Condition,Chassis_Condition,Third_party_insurance,Gearbox,Selling_Method,Time,Location
0,Tehran,۱۳۷۶,نقره ای,۵۳۲,نیسان، پاترول 4 در، 6 سیلندر,تمام رنگ,235000000.0,سالم,سالم و پلمپ,۶ ماه,دنده ای,نقدی,2022-03-26,آجودانیه
1,Tehran,۱۳۹۲,سفید,۱۵۰٬۰۰۰,CNG ،پیکان، وانت,خط و خش جزیی,110000000.0,NaN,NaN,NaN,NaN,NaN,2022-03-12,بلوار کشاورز
2,Tehran,۱۳۹۹,سفید,۰,SE ،131 ،پراید,سالم و بی خط و خش,NaN,NaN,سالم و پلمپ,۱۲ ماه,NaN,نقدی,2022-03-26,دولت آباد
3,Tehran,۱۳۹۶,سفید,۸۰٬۰۰۰,SE ،132 ،پراید,سالم و بی خط و خش,125500000.0,سالم,سالم و پلمپ,۶ ماه,دنده ای,نقدی,2022-03-26,پیروزی
4,Tehran,۱۳۹۳,نقره ای,۸۰٬۰۰۰,پژو، GLX ،405 بنزینی,سالم و بی خط و خش,187000000.0,سالم,سالم و پلمپ,۹ ماه,دنده ای,نقدی,2022-03-26,پیروزی

In [45]:
cars_df.tail()

,City,Model_Year,Color,Mileage,Brand,Body_Condition,Price,Engine_Condition,Chassis_Condition,Third_party_insurance,Gearbox,Selling_Method,Time,Location
56397,Shiraz,۱۳۸۳,یشمی,۱۰۰٬۰۰۰,پیکان، بنزینی,صافکاری بی رنگ، در ۱ ناحیه,75000000.0,سالم,سالم و پلمپ,۱۱ ماه,دنده ای,نقدی,2022-03-26,ابونصر
56398,Shiraz,۲۰۱۲,سفید,۱۷۲٬۰۰۰,سانگ یانگ، رکستون، ساده,خط و خش جزیی,930000000.0,سالم,سالم و پلمپ,۳ ماه,اتوماتیک,نقدی,2022-03-26,گلدشت حافظ
56399,Shiraz,۲۰۱۳,موکا,۱۳۵٬۰۰۰,جیلی، Emgrand 7، دنده ای,خط و خش جزیی,280000000.0,سالم,سالم و پلمپ,۷ ماه,دنده ای,نقدی,2022-03-26,شریف آباد
56400,Shiraz,۱۳۸۳,سفید,۳۹۰٬۰۰۰,پیکان، بنزینی,دوررنگ,37000000.0,سالم,NaN,۶ ماه,دنده ای,نقدی,2022-03-23,پانصد دستگاه (بلوار رحمت)
56401,Shiraz,۱۴۰۰,نقره ای,۰,2000cc مزدا، وانت، کارا تک کابین,سالم و بی خط و خش,271500000.0,سالم,سالم و پلمپ,۱۲ ماه,دنده ای,نقدی,2022-03-05,فرهنگ شهر

In [46]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56402 entries, 0 to 56401
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   City                   56402 non-null  object
 1   Model_Year             56402 non-null  object
 2   Color                  56399 non-null  object
 3   Mileage                56402 non-null  object
 4   Brand                  56402 non-null  object
 5   Body_Condition         54955 non-null  object
 6   Price                  43306 non-null  float64
 7   Engine_Condition       53853 non-null  object
 8   Chassis_Condition      46407 non-null  object
 9   Third_party_insurance  52407 non-null  object
 10  Gearbox                52954 non-null  object
 11  Selling_Method         52637 non-null  object
 12  Time                   56402 non-null  object
 13  Location               56402 non-null  object
dtypes: float64(1), object(13)
memory usage: 6.0+ MB

### make integer string persion numbers

In [76]:

cars_df = pd.read_csv("cars.csv")
cars_df["Model_Year"] = cars_df["Model_Year"].apply(unidecode)
cars_df = cars_df.loc[cars_df["Model_Year"].str.startswith("13") | cars_df["Model_Year"].str.startswith("14") ]
cars_df["Model_Year"] = cars_df["Model_Year"].apply(int)

cars_df["Mileage"] = cars_df["Mileage"].str.replace("٬" , "")
cars_df["Mileage"] = cars_df["Mileage"].apply(int)

In [72]:
cars_df

150000